{{#yield-styles}}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel='stylesheet' href='/js/jqgrid/css/ui.jqgrid.css' />
  <link rel='stylesheet' href='/js/select2/select2.css' />
  <link rel='stylesheet' href='/css/index.css' />
{{/yield-styles}}

{{#yield-scripts}}
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <script src='/js/jqgrid/js/jquery.jqGrid.min.js'></script>
  <script src='/js/jqgrid/js/i18n/grid.locale-sv.js'></script>

  <script src='/js/select2/select2.js'></script>
  <script src='/js/index.js'></script>
{{/yield-scripts}}

<h1>{{title}}</h1>

<h2>{{testing}}</h2>

 <select id="combotest">
<option value="">Select one...</option>
<option value="ActionScript">ActionScript</option>
<option value="AppleScript">AppleScript</option>
<option value="Asp">Asp</option>
<option value="BASIC">BASIC</option>
<option value="C">C</option>
<option value="C++">C++</option>
<option value="Clojure">Clojure</option>
<option value="COBOL">COBOL</option>
<option value="ColdFusion">ColdFusion</option>
<option value="Erlang">Erlang</option>
<option value="Fortran">Fortran</option>
<option value="Groovy">Groovy</option>
<option value="Haskell">Haskell</option>
<option value="Java">Java</option>
<option value="JavaScript">JavaScript</option>
<option value="Lisp">Lisp</option>
<option value="Perl">Perl</option>
<option value="PHP">PHP</option>
<option value="Python">Python</option>
<option value="Ruby">Ruby</option>
<option value="Scala">Scala</option>
<option value="Scheme">Scheme</option>
</select>
 <div id="combotest2"></div>


<h2>Senaste aktiviteter</h2>
<div class='latest'>
</div>

<table id="timesgrid"></table>
<div id="timesctrl"></div>
