{{#yield-styles}}
  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"-->
  <link rel='stylesheet' href='/css/jquery-ui.min.css' />
  <link rel='stylesheet' href='/js/jqgrid/css/ui.jqgrid.css' />
  <link rel='stylesheet' href='/js/select2/select2.css' />
  <link rel='stylesheet' href='/css/main.css' />
{{/yield-styles}}

{{#yield-scripts}}
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src='/js/jqgrid/js/jquery.jqGrid.min.js'></script>
  <script src='/js/jqgrid/js/i18n/grid.locale-sv.js'></script>
  <script src='/js/jquery.ui.datepicker-sv.js'></script>
  <script src='/js/select2/select2.js'></script>
  <script src='/js/main.js'></script>
  <script>var titles = {lev1:'{{owner.level1title}}', lev2:'{{owner.level2title}}', lev3:'{{owner.level3title}}'};var ownerid={{owner.id}};</script>
{{/yield-scripts}}

<div class='centerarea'>
  <div id='tabs'>
    <a class='register active'>Registrering</a>
    <a class='ended'>Avslutade</a>
    {{#user.isadmin}}<a class='users'>Användare</a>{{/user.isadmin}}
  </div>

  <div id='booking' class='page clearfix'>
    <div class='active bookform'>
      <h2 class='headline'>Aktiv aktivitet</h2>
      <div class='row'><h3 class='firstcap'>{{owner.level1title}}:</h3><span class="customer"></span></div>
      <div class='row'><h3 class='firstcap'>{{owner.level2title}}:</h3><span class="project"></span></div>
      <div class='row'><h3 class='firstcap'>{{owner.level3title}}:</h3><span class="activity"></span></div>
      <div class='row'><h3>Kommentar:</h3><span class='comment'></span></div>
      <div class='row'><h3>Starttid:</h3><span class='starttime'></span></div>
      <div class='row'><h3>Tidsåtgång:</h3><span class='elapsed'></span></div>
      <div class='stopbuttons'>
        <a class='open button'>Ange sluttid</a>
        <div class='stoptime settimepop'>
          <input type='number' class='hours' min='0' max='23' /><span>:</span><input type='number' class='minutes' min='0' max='59' />
          <a class='stop button'>Stoppa</a>
        </div>
      </div>
    </div>

    <div class='start bookform'>
      <h2>Starta aktivitet</h2>
      <div class='row'>
        <input type='hidden' class="select2 latest" />
      </div>
      <div class='row'>
        <input type='hidden' class="select2 customer" />
        <a class='delcustomer delete' title='Ta bort'>X</a>
      </div>
      <div class='row'>
        <input type='hidden' class="select2 project" />
        <a class='delproject delete' title='Ta bort'>X</a>
      </div>
      <div class='row'>
        <input type='hidden' class="select2 activity" />
        <a class='delactivity delete' title='Ta bort'>X</a>
      </div>
      <div class='row'>
        <textarea class='comment forminput' placeholder="Ange en kommentar"></textarea>
      </div>
      <div class='startbuttons'>
        <a class='open button'>Ange starttid</a>
        <div class='starttime settimepop'>
          <input type='number' class='hours forminput' min='0' max='23' /><span>:</span><input type='number' class='minutes forminput' min='0' max='59' />
          <a class='start button'>Starta</a>
        </div>
      </div>
    </div>

    <div class='divider'></div>

    <div class='register bookform'>
      <h2>Registrera aktivitet</h2>
      <div class='row'>
        <input type='hidden' class="select2 latest" />
      </div>
      <div class='row'>
        <input type='hidden' class="select2 customer" />
        <a class='delcustomer delete'>X</a>
      </div>
      <div class='row'>
        <input type='hidden' class="select2 project" />
        <a class='delproject delete'>X</a>
      </div>
      <div class='row'>
        <input type='hidden' class="select2 activity" />
        <a class='delactivity delete'>X</a>
      </div>
      <div class='row'>
        <textarea class='comment forminput' placeholder="Ange en kommentar"></textarea>
      </div>
      <div class='row activitydate'>
        <input type='text' placeholder="Ange datum" class='adate forminput' />
        <div class='elapsed'><input type='number' class='hours forminput' min='0' max='23' /><span class='desktop'>tim</span><span class='mobile'>t</span> <input type='number' class='minutes forminput' min='0' max='59' /><span class='desktop'>min</span><span class='mobile'>m</span></div>
      </div>
      <div class='regbuttons'>
        <a class='register button'>Registrera</a>
      </div>
    </div>

    <div class='divider'></div>

    <div class='last bookform'>
      <h2 class='headline'>Senast registrerad</h2>
      <div class='row'><h3 class='firstcap'>{{owner.level1title}}:</h3><span class="customer"></span></div>
      <div class='row'><h3 class='firstcap'>{{owner.level2title}}:</h3><span class="project"></span></div>
      <div class='row'><h3 class='firstcap'>{{owner.level3title}}:</h3><span class="activity"></span></div>
      <div class='row'><h3>Kommentar:</h3><span class='comment'></span></div>
      <div class='row'><h3>Starttid:</h3><span class='starttime'></span></div>
      <div class='row'><h3>Tidsåtgång:</h3><span class='elapsed'></span></div>
    </div>

  </div>
</div>

<div id='ended' class='page'>
  <div class='selectors clearfix'>
    {{#user.isadmin}}
      <div><h3>Användare:</h3><select class='curruser forminput'>{{{useroptions}}}</select></div>
    {{/user.isadmin}}
    <div><h3>Från:</h3><input type='text' class='forminput adate from' placeholder='Från' /></div>
    <div><h3>Till:</h3><input type='text' class='forminput adate to' placeholder='Till' /></div>
  </div>
  <table id="endedgrid"></table>
  <div id="endedctrl"></div>
</div>

{{#user.isadmin}}
  <div id="users" class='page'>
    <table id="usersgrid"></table>
    <div id="usersctrl"></div>
  </div>
{{/user.isadmin}}
