html, body {
  padding: 0;
  margin:0;
}
body, input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 120%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 { color: #000; font-size: 180%; font-weight: normal; line-height: 120%; margin: 0; }
h2 { color: #000; font-size: 150%; font-weight: normal; line-height: 120%; margin: 0; }
h3 { color: #000; font-size: 110%; font-weight: bold; line-height: 120%; margin: 0; }
h4 { color: #000; font-size: 110%; font-weight: normal; line-height: 120%; margin: 0; }

p { margin-top: 8px; margin-bottom: 0px; }
a { cursor:pointer; color: #000; text-decoration: none; outline: none; }
a:hover {  }
img { border:0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.firstcap:first-letter {
  text-transform: uppercase;
}

#dimmer {
  background: none repeat scroll 0 0 #000000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity:0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
#ajaxerr {
  max-width:800px;
  width:80%;
  position: absolute;
  display: none;
  top:10%;
  left:0;
  right:0;
  margin:0 auto;
  padding:20px;
  font-weight: bold;
  background: #fff;
  z-index: 100;
  border-radius: 10px;
  border: solid 4px #363B48;  
}

#ajaxloader {
  position: absolute;
  width:100px;
  right:0;
  left:0;
  margin:26px auto 0 auto;
  z-index:1001;
  display: none;
}

#topbar {
  padding:10px 20px;
}
#topbar * {
  vertical-align: middle;
}
#topbar .left {
  float: left;
}
#topbar .center {
  position: absolute;
  text-align: center;
  left:0;
  right: 0;
  margin:0 auto;
  width:250px;
}
#topbar img {
  max-height:40px;
  margin-right: 20px;
}
#topbar .userinfo {
  float:right;
  line-height: 40px;
}
#topbar .userinfo a {
  margin-left: 10px;
}
#topbar .userinfo a:hover {
  color:#fff;
}

.button {
  display:inline-block;
  padding:10px 20px;
  margin-top:10px;
  margin-right: 10px;
  font-weight: bold;
  border:none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor:pointer;
}


@media (max-width: 600px) {
  #topbar .left {
    float: none;
    text-align: center;
  }
  #topbar .userinfo {
    float:none;
    margin-top: 40px;
    line-height: 120%;
    text-align: center;
  }
  #content {
    padding-top:86px;
    padding-left: 0;
  }
}
