html, body {
  padding: 0;
  margin:0;
}
body {
  font: 14px Helvetica, Arial, sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 { color: #000; font-size: 180%; font-weight: normal; line-height: 1.2em; margin: 1px 0 1px 0; }
h2 { color: #000; font-size: 150%; font-weight: normal; line-height: 1.2em; margin: 1px 0 1px 0; }
h3 { color: #000; font-size: 110%; font-weight: normal; line-height: 1.0em; margin: 1px 0 1px 0; }
h4 { color: #000; font-size: 110%; font-weight: normal; line-height: 1.0em; margin: 1px 0 1px 0; }

p { margin-top: 8px; margin-bottom: 0px; }
a { cursor:pointer; color: #000; text-decoration: none; outline: none; }
a:hover {  }
img { border:0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#ajaxloader {
  position: absolute;
  width:100px;
  right:0;
  left:0;
  margin:26px auto 0 auto;
  display: none;
}

#topbar {
  background:#363B48;
  padding:10px;
  color:#fff;
}
#topbar .left {
  float: left;
}
#topbar .left h1,
#topbar .left img {
  vertical-align: middle;
  color:#fff;
  display: inline-block;
}
#topbar .left img {
  margin-right: 10px;
}
#topbar .userinfo {
  float:right;
  line-height: 40px;
}
#topbar .userinfo a {
  margin-left: 10px;
  color:#ccc;
}
#topbar .userinfo a:hover {
  color:#fff;
}
#content {
  padding: 0 10px;
}

@media (max-width: 600px) {
  #topbar {
    position:fixed;
    width:100%;
    z-index:1000;
    padding:10px;
  }
  #topbar .left {
    float: none;
    text-align: center;
  }
  #topbar .userinfo {
    float:none;
    margin-top: 10px;
    line-height: 120%;
    text-align: center;
  }
  #content {
    padding-top:86px;
    padding-left: 0;
  }
}
