#booking {
  max-width: 900px;
}
.error {
  border:solid 1px #f00 !important;
}
.forminput {
  font-family: Helvetica,​Arial,​sans-serif;
  font-size: 14px;
  background-color: #fff;
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
}
a.button {
  background-image: linear-gradient(to top, #ccc 0%, #eee 50%);
  display:inline-block;
  padding:5px 10px;
  border:solid 1px #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #aaa;
  transition: all 0.1s linear 0s;
  margin-top:10px;
}
a.button:first-child {
  margin-right: 10px;
}
a.button:hover {
  box-shadow: 2px 2px 2px 1px #aaa;
}

.bookform {
  float:left;
  width:32%;
  margin-right: 1%;
  min-width:200px;
  padding:15px;
  border:solid 1px #ccc;
  margin-bottom:20px;
}
@media (max-width: 600px) {
  .bookform {
    width:100%;
    margin-right: 0;
  }
}

.bookform .row {
  margin-top:10px;
}
.bookform .row h3 {
  display: inline-block;
  min-width: 100px;
}
.bookform .row > textarea {
  width: 100%;
}

.bookform .select2 {
  width:95%;
}

.active .isactive {
  display: none;
}

.stopbuttons .restart {
  display: none;
}

.settimepop {
  display: none;
}
.settimepop a.button {
  margin-left: 10px;
}

.register .elapsed {
  display: inline-block;
}
.register .adate {
  width:90px;
  margin-right: 10px;
}
.settimepop input,
.register .elapsed input {
  width:50px;
}
.settimepop span {
  padding:0 5px;
}

@media (max-width: 600px) {
  .grid {
    display: none;
  }
}
