#booking {
/*  max-width: 900px;*/
}
.error {
  border:solid 1px #f00 !important;
}
.forminput {
  font-family: Helvetica,​Arial,​sans-serif;
  font-size: 14px;
  background-color: #fff;
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
}
a.button {
  display:inline-block;
  padding:5px 10px;
  margin-top:10px;
  margin-right: 10px;
  color:#fff;
  font-weight: bold;
  background: #999;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  background: #363B48;
}
a.button:hover {
  background: #4f576d;
}

input.hours, input.minutes {
  width:50px;
}

#ended, #compilation {
  display:none;
}
#booking .last {
  display: none;
}
#booking .divider {
  height:10px;
  background: #363B48;
  display:none;
}
@media (max-width: 600px) {
  #ended, #compilation {
    display:none !important;
  }
  #booking {
    display:block !important;
  }
  #booking .last {
    display: block;
  }
  #booking .divider {
    display:block;
  }
}

#booking, #tabs {
  max-width: 1000px;
  margin:0 auto;
}

#ended {
  width:99%;
}
#tabs {
  padding-bottom:10px;
}
#tabs a {
  display: inline-block;
  padding:5px 10px;
  color:#fff;
  font-weight: bold;
  background: #999;
  border-radius: 0 0 4px 4px;
}
#tabs a:hover,
#tabs a.active {
  background: #363B48;
  transition: background-color 0.2s ease;
}
@media (max-width: 600px) {
  #tabs {
    display: none;
  }
  #navbuttons {
    display: block;
  }
}

.bookform {
  float:left;
  width:49%;
  margin-right: 1%;
  min-width:200px;
  padding:15px;
  border:solid 1px #ccc;
}
@media (max-width: 600px) {
  .bookform {
    width:100%;
    margin-right: 0;
    border:none;
    float:none;
  };
  .bookform:first-child {
    border-top:none;
  };
}

.bookform .row {
  margin-top:10px;
}
.bookform .row h3 {
  display: inline-block;
  min-width: 100px;
}
.bookform .row > textarea {
  width: 100%;
  max-width: 100%;
  height: 60px;
}

.bookform .select2 {
  width:94%;
}

.stopbuttons .restart {
  display: none;
}

.settimepop {
  display: none;
}
.settimepop a.button {
  margin-left: 10px;
}

.register .elapsed {
  display: inline-block;
}
.register .adate {
  width:88px;
  margin-right: 10px;
}
.settimepop span {
  padding:0 5px;
}

#compilation .selectors {
  margin:10px 0;
}
#compilation .selectors > div {
  margin-bottom:5px;
}
#compilation .selectors span {
  width:80px;
  display: inline-block;
}
#compilation input {
  width:90px;
}

.select2-results .select2-highlighted {
  background: #3875d7 !important;
}

.select2-results li:nth-child(even) {
  background: #eee;
}

.ui-jqgrid .ui-jqgrid-view {
  font-size: 13px;
}