#booking {
  max-width: 900px;
}
.error {
  border:solid 1px #f00 !important;
}
.forminput {
  font-family: Helvetica,​Arial,​sans-serif;
  font-size: 14px;
  background-color: #fff;
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
}
a.button {
  background-image: linear-gradient(to top, #ccc 0%, #eee 50%);
  display:inline-block;
  padding:5px 10px;
  border:solid 1px #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #aaa;
  transition: all 0.1s linear 0s;
  margin-top:10px;
  margin-right: 10px;
}
a.button:hover {
  box-shadow: 2px 2px 2px 1px #aaa;
}

#ended, #compilation {
  display:none;
}
@media (max-width: 600px) {
  #ended, #compilation {
    display:none !important;
  }
  #booking {
    display:block !important;
  }
}

#ended {
  width:99%;
}
#tabs {
  padding-bottom:10px;
}
#tabs a {
  display: inline-block;
  padding:5px 10px;
  color:#fff;
  font-weight: bold;
  background: #999;
  border-radius: 0 0 4px 4px;
}
#tabs a:hover,
#tabs a.active {
  background: #363B48;
}
#navbuttons {
  display:none;
  position: fixed;
  right:10px;
  top:5px;
  z-index: 1001;
}
#navbuttons a {
  display: block;
  padding: 5px;
  font-weight: bold;
  border: solid 1px #fff;
  border-radius: 4px;
  background:#363B48;
  color:#fff;
}

@media (max-width: 600px) {
  #tabs {
    display: none;
  }
  #navbuttons {
    display: block;
  }
}

.bookform {
  float:left;
  width:32%;
  margin-right: 1%;
  min-width:200px;
  padding:15px;
  border:solid 1px #ccc;
  margin-bottom:20px;
}
@media (max-width: 600px) {
  .bookform {
    width:100%;
    margin-right: 0;
  }
}

.bookform .row {
  margin-top:10px;
}
.bookform .row h3 {
  display: inline-block;
  min-width: 100px;
}
.bookform .row > textarea {
  width: 100%;
}

.bookform .select2 {
  width:95%;
}

.active .isactive {
  display: none;
}

.stopbuttons .restart {
  display: none;
}

.settimepop {
  display: none;
}
.settimepop a.button {
  margin-left: 10px;
}

.bookform.register {
  margin-bottom:100px;
}
.register .elapsed {
  display: inline-block;
}
.register .adate {
  width:90px;
  margin-right: 10px;
}
.settimepop input,
.register .elapsed input {
  width:50px;
}
.settimepop span {
  padding:0 5px;
}

#compilation .selectors {
  margin:10px 0;
}
#compilation .selectors > div {
  margin-bottom:5px;
}
#compilation .selectors span {
  width:80px;
  display: inline-block;
}
#compilation input {
  width:90px;
}

.select2-results .select2-highlighted {
  background: #3875d7 !important;
}

.select2-results li:nth-child(even) {
  background: #eee;
}